<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- This default ConsoleAppender is used to log all NON perf4j messages 
		to System.out -->
	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %c{1} - %m%n" />
		</layout>
	</appender>


	<!-- Perf4J appenders -->
	<!-- This AsyncCoalescingStatisticsAppender groups StopWatch log messages 
		into GroupedTimingStatistics messages which it sends on the file appender 
		defined below -->
	<appender name="CoalescingStatisticsAppender"
		class="org.perf4j.log4j.AsyncCoalescingStatisticsAppender">
		<param name="TimeSlice" value="30000" />

		<!-- Output to file -->
		<appender-ref ref="CsvFileAppender" />

		<!-- Also output graph info -->
		<appender-ref ref="GraphSearchTimeMean" />
		<appender-ref ref="GraphSlowSearchCounts" />
		<appender-ref ref="GraphJmsEventCounts" />
		<appender-ref ref="GraphResponseCacheCounts" />
		<appender-ref ref="GraphMemoryCacheCounts" />
	</appender>

	<appender name="GraphSearchTimeMean" class="org.sakaiproject.nakamura.perf4j.NakamuraGraphingStatisticsAppender">
		<!-- Possible GraphTypes are Mean, Min, Max, StdDev, Count and TPS -->
		<param name="GraphType" value="Mean" />
		<param name="TagNamesToGraph" value="search:ResultSet:performed:"/>
		<appender-ref ref="GraphFileAppender" />
	</appender>

	<appender name="GraphSlowSearchCounts" class="org.sakaiproject.nakamura.perf4j.NakamuraGraphingStatisticsAppender">
		<param name="GraphType" value="Count" />
		<param name="TagNamesToGraph" value="search:ResultSet:slow:,search:ResultSet:veryslow:"/>
		<appender-ref ref="GraphFileAppender" />
	</appender>

	<appender name="GraphJmsEventCounts" class="org.sakaiproject.nakamura.perf4j.NakamuraGraphingStatisticsAppender">
		<param name="GraphType" value="Count" />
		<param name="TagNamesToGraph" value="event:JMSBridge:"/>
		<appender-ref ref="GraphFileAppender" />
	</appender>

	<appender name="GraphResponseCacheCounts" class="org.sakaiproject.nakamura.perf4j.NakamuraGraphingStatisticsAppender">
		<param name="GraphType" value="Count" />
		<param name="TagNamesToGraph" value="http:DynamicContentResponseCache:save:,http:DynamicResponseCache:hit:"/>
		<appender-ref ref="GraphFileAppender" />
	</appender>
	
	<appender name="GraphMemoryCacheCounts" class="org.sakaiproject.nakamura.perf4j.NakamuraGraphingStatisticsAppender">
		<param name="GraphType" value="Count" />
		<param name="TagNamesToGraph" value="memory:Cache:"/>
		<appender-ref ref="GraphFileAppender" />
	</appender>

	<!-- This file appender is used to output the graph URLs generated by the 
		GraphingStatisticsAppenders -->
	<appender name="GraphFileAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="Perf4JGoogleCharts.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<!-- This file appender is used to output aggregated performance statistics -->
	<appender name="CsvFileAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="Perf4JStatistics.csv" />
		<layout class="org.perf4j.log4j.StatisticsCsvLayout" />
	</appender>
	
	<appender name="FileAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="Perf4JRawData.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %c{1} - %m%n" />
		</layout>
	</appender>

	<!-- Loggers -->
	<!-- The Perf4J logger. Note that org.perf4j.TimingLogger is the value of 
		the org.perf4j.StopWatch.DEFAULT_LOGGER_NAME constant. Also, note that additivity 
		is set to false, which is usually what is desired - this means that timing 
		statements will only be sent to this logger and NOT to upstream loggers. -->
	<logger name="org.perf4j.TimingLogger" additivity="false">
		<level value="INFO" />
		<appender-ref ref="CoalescingStatisticsAppender" />
		<appender-ref ref="FileAppender" />
	</logger>

	<!-- The root logger sends all log statements EXCEPT those sent to the perf4j 
		logger to System.out. -->
	<root>
		<level value="INFO" />
		<appender-ref ref="ConsoleAppender" />
	</root>
</log4j:configuration>